<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <!-- <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton> -->
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Data"></Label>
</ActionBar>



<!--
Use the tkMainContent directive to display the content of the page when you have an app drawer.
-->
<GridLayout class="page page-content" rows="*">
        

    <RadListView row="0"
        [items]="dataItems" 
        [itemReorder]="true" reorderMode="Drag">

        <ng-template tkListItemTemplate let-item="item" let-i="index">
            <!-- <GridLayout row="0" rows="auto,auto" > -->
                
                <GridLayout row="0" columns="auto,*,45" rows="auto" class="data-item-row">
                    <ReorderHandle row="0" col="0" verticalAlignment="center">
                        <Label row="0" col="0" class="h2 mdi color-def-theme-delete-text" text='&#xE25D;'></Label>                               
                    </ReorderHandle> 
                    <Label row="0" col="1" class="h3" 
                        text='{{item.name + " " + i}}'></Label>                    
                    <Label row="0" col="2" width="41" horizontalAlignment="right" class="h3" text="{{item.shortDesc}}"></Label>    
                </GridLayout>                 
                        
            <!-- </GridLayout> -->
        </ng-template>     

    </RadListView>
    
    
</GridLayout>
