// Custom common variables
@import '../../app-variables';

$sidedrawer-list-item-offset-left: 15;
$sidedrawer-list-icon-offset: 10;
$sidedrawer-list-icon-size: 20;

.sidedrawer-list-item {
    padding-left: $sidedrawer-list-item-offset-left;
    Label {
        vertical-align: center;
        color: $blue-dark;
    }
    .fa {
        width: $sidedrawer-list-icon-size;
        margin-right: $sidedrawer-list-icon-offset;
    }
    .mdi {
        width: $sidedrawer-list-icon-size;
        margin-right: $sidedrawer-list-icon-offset;
    }    
    &.selected {
        background-color: $item-active-background;
        Label {
            color: $item-active-color;
        }
    }
}